body {
	background-color: white;
	color: black;
	margin: 0;
}

.wd-searchbar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wd-search-icon {
	padding-left: 8px;
	position: absolute;
}

.wd-icon {
	width: 24px;
	height: 24px;
}

.wd-post {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	border-bottom: 1px solid #dee2e6;
}

.wd-post .wd-topic,
.wd-post .wd-tuits-num {
	font-size: 15px;
	color: rgb(110, 118, 125);
}

.wd-topic-author {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wd-post-with-img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.wd-post-with-img img {
	height: 100px;
	width: 100px;
}

.fa-stack.small {
	font-size: 0.5em;
}

.wd-follow-list img {
	width: 42px;
	height: 42px;
}
