.wd-searchbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 12px;
}

.wd-search-icon {
	padding-left: 8px;
	position: absolute;
}

.wd-icon {
	width: 24px;
	height: 24px;
}

.wd-searchbar input {
	background-color: rgb(47, 51, 54);
	color: white;
	padding: 10px;
	padding-left: 40px;
	width: 100%;
	border: none;
	margin-right: 12px;
}

.wd-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: rgb(110, 118, 125);
	border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-links div {
	font-size: 15px;
	padding: 16px;
}

.wd-links .selected {
	border-bottom: 2px solid;
	border-color: rgb(29, 161, 242);
	color: rgb(29, 161, 242);
}

.wd-posts {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
}

.wd-post {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-post div {
	padding-top: 2px;
	padding-bottom: 2px;
}

.wd-post .wd-topic,
.wd-post .wd-tuits-num {
	font-size: 15px;
	color: rgb(110, 118, 125);
}

.wd-topic-author {
	display: flex;
	flex-direction: row;
}

.wd-post-with-img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.wd-post-with-img img {
	height: 100px;
	width: 100px;
}
