.wd-post {
	display: flex;
	color: white;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}

.wd-post .wd-topic,
.wd-post .wd-tuits-num {
	font-size: 15px;
	color: rgb(110, 118, 125);
}

.wd-topic-author {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wd-post-with-img {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.wd-post-with-img img {
	height: 100px;
	width: 100px;
}

.fa-stack.small {
	font-size: 0.5em;
}
